body {
	margin: 0;
	padding: 0;
	background-color: #EAECEE;
	font-family: Verdana, sans-serif;
	font-size: 10px;
}

#header {
	font: normal 16px/1 "Times New Roman", Times, serif;
   	border-bottom: 3px solid #c0c0c0;
	background: #004e63;
	color: #f0f0f0;
	margin: 0;
	padding: 1px;
}

#header h1 {
	padding-top: 24px;
	font-size: 250%;
}

#header a {
	padding: 20px;
}

#header ul li {
  list-style-type: none;
  display: -moz-box;
  padding: 0.1em;

}

#header #search {
 	padding: 5px;
 	margin-left: 40%;
 	border-radius: 10px;
 	border-color: black;
}

#header #activity{
	text-decoration: none;
	color: #fff;
}


#page {
	background: #ffffff;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	border-right: solid 2px #a0a0a0;
	border-bottom: solid 2px #a0a0a0;
}

#sidebar {
	float: right;
	width: 200px;	
	border: 1px solid #d0d0d0;
	min-height: 240px;
	padding: 4px;
}

#sidebar h1 {
	display: block;
	font-size: 120%;
	border-bottom: 1px solid #d0d0d0;
}

#container {
	padding: 8px;
}

#content {
	min-height: 320px;
	font-size: 120%;
	width: 98%;
	background-color:#c9f1fd;
 	padding: 10px;
}

#content input {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: -1px;
  width: auto;
  padding: 10px auto;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 3px 3px 0;
  border-radius: 3px 3px 0;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(0,142,198,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgb(255,255,255);
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: letter-spacing 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: letter-spacing 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: letter-spacing 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: letter-spacing 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-transform: rotateX(1.1459155902616465deg) rotateY(1.7188733853924696deg)   ;
  transform: rotateX(1.1459155902616465deg) rotateY(1.7188733853924696deg)   ; 
}

#content label{
	font-size:15px;
}

#content button {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  width: auto;
  border: 1px solid #018dc4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #004E63;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

#footer {
	text-align: center;
	padding: 8px;
	margin: 8px;
	border-top: 1px solid #c0c0c0;
	clear : both;
}

.panel {
	border: 1px solid #d0d0d0;
	padding: 8px;
	margin: 8px 4px 16px 4px;
	background: #fafafa;
	position: absolute;
	left: 50%;
	top: 50%;
}

.panel h1 {
	font-size: 120%;
	display: block;
	background: #f0f0f0;
	padding: 6px;
	margin: -8px;
	border-bottom: 1px solid #d0d0d0;
	margin-bottom: 8px;
}

.panelgrid {
	margin: 0 auto;
}

.odd {
	background: #f0f0f0;
}

.even {
	background: #ffffff;
}

.dataTable {
	border-collapse: collapse;
	width: 100%;
	
}

.dataTable th {
	background: #204080;
	color: #f0f0f0;
	padding: 6px;
	border: 1px solid #f0f0f0;
}

.dataTable td {
	border: 1px solid #d0d0d0;
	padding: 4px;
}

.caption {
	float: left;
	width: 100px;
}

.formCaption {
	float: left;
	width: 100px;
	padding-top: 4px;
}

.value {	
	margin-right: 8px;
}

.errorMessage {
	color: #ff0000;
	font-weight: bold;
}

.property {
	margin-bottom: 12px;
}

/*
 * Patricia Damasceno
 *
*/


.menuHorizontal {
	background-color:#fff;
 	padding: 10px;
	font-size: 25px;
  	color: #004E63;
}

.menuHorizontal ul li{
  	list-style-type: none;
  	display: inline;
  	padding: 0.1em;
	font-size: 20px;
}

.menuHorizontal p{
	margin: 0px 0px 10px;
}

.menuHorizontal ul li a{
	list-style-type: none;
	display: inline;
	padding: 0.1em;
	font-size: 20px;
	text-decoration: none;
}

.menuHorizontalLink {
	list-style-type: none;
	display: inline;
	padding: 0.1em;
	font-size: 20px;
	text-decoration: none;
}

.perfilButton {
	background: url('/saa/resources/images/login.png') no-repeat top;
	height: 50px;
	width: 49px;
}

form {
	
}

#containerSearch {
	padding: 10px 10px 10px 380px;
}

#containerSearch input{
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 37px;
  border-radius: 37px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(0,142,198,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: url("/saa/resources/images/lupa.png"), rgba(252,252,252,1);
  background-repeat: no-repeat;
  background-position: 102% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: contain;
  background-size: contain;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

#containerLogOut {
	padding: auto auto auto auto;
}

select {
	background: rgb(255,255,255);
	font: normal 16px/normal "Times New Roman", Times, serif;
  	color: rgba(0,142,198,1);
}

#containerLogOut input{
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 12px 20px 10px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: url("/saa/resources/images/logout.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: contain;
  background-size: contain;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}